.dishes{
	width:700px;
<<<<<<< HEAD
	margin-left:25px;
	margin-top:50px;
=======
	margin-left:200px;
	margin-top:100px
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29
}

.textShadow {
	text-shadow: 0px 0px 8px grey;
}

.headerImage{
	width: 200px;
	height:110px;
	margin-left: 30px 
}

.myrow{
	display: table;
}

.text{
	width: 45px;
	text-align: left;
}

.abb{
	color: black;
	border-radius: 10px;
<<<<<<< HEAD
	text-align: center;
	text-shadow: 0px 0px 8px grey;
}

.kkal{
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #08DEFF 0%, #FFFFFF 100%);
=======
    text-align: center;
    text-shadow: 0px 0px 8px grey;
}

.kkal{
	   background-image: -webkit-radial-gradient(center, ellipse closest-side, #08DEFF 0%, #FFFFFF 100%);
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29

}

.fats{
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #FF3BCB 0%, #FFFFFF 100%);
}

.prot{
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #7EFF1C 0%, #FFFFFF 100%);
}

.carb{
<<<<<<< HEAD
	background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFF700 0%, #FFFFFF 100%);
=======
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFF700 0%, #FFFFFF 100%);
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29
}

.element{
	width:300px;
	height:320px;
	float:left;
	padding-left: 15px;
<<<<<<< HEAD
=======
	padding-right: 15px;
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29
	padding-top: 15px;
	margin:15px;
	border: 1px solid #eee;
}

.elementDetails{
	width:250px;
	height:180px
}

.top{
	height: 115px;
	border-bottom: 1px solid #eee;
<<<<<<< HEAD
=======
}

.bottomButtons{
bottom:0px;
}

.findField{
width: 260px;
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29
}
.findAbbr{
width: 125px;
margin-left: 15px;
}


.bottomButtons{
	bottom:0px;
}

.findField{
	width: 260px;
}
.findAbbr{
	width: 125px;
	margin-left: 15px;
}

.findtype{
	width: 125px;
	margin-left: 15px;
}


.header {
	margin-top: 30px;
	margin-left: 80px;
	color: black;
	font-size: 40px;
	padding-top: 10px;
<<<<<<< HEAD
=======

}
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29

.searches{
	margin-left: 100px;
	margin-top: 15px;
	border: 1px solid #eee;
}

.searches{
	margin-left: 100px;
	margin-top: 15px;
	border: 1px solid #eee;
}

.column{
	float:left;
}

.meals{
<<<<<<< HEAD
	margin-top:70px;
	width: auto;
	height: auto;
	border-left: 1px solid #eee;
}

.textSize {
	font-size: 10px;
}

.limit {
	margin-top: 60px;
	width: 400px;
	text-align: center;
	margin-left: 300px;
	border-radius: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
=======
	border: 1px solid #eee;
	width: auto;
	height: auto;
>>>>>>> 819a7e033c916ccce02ef137de5da1edc4642c29
}