.dishes{
	width:700px;
	margin-left:25px;
	margin-top:50px;
}

.textShadow {
	text-shadow: 0px 0px 8px grey;
}

.headerImage{
	width: 200px;
	height:110px;
	margin-left: 30px 
}

.myrow{
	display: table;
}

.text{
	width: 45px;
	text-align: left;
}

.abb{
	color: black;
	border-radius: 10px;
	text-align: center;
	text-shadow: 0px 0px 8px grey;
}

.kkal{
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #08DEFF 0%, #FFFFFF 100%);

}

.fats{
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #FF3BCB 0%, #FFFFFF 100%);
}

.prot{
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #7EFF1C 0%, #FFFFFF 100%);
}

.carb{
	background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFF700 0%, #FFFFFF 100%);
}

.element{
	width:300px;
	height:320px;
	float:left;
	padding-left: 15px;
	padding-top: 15px;
	margin:15px;
	border: 1px solid #eee;
}

.elementDetails{
	width:250px;
	height:180px
}

.top{
	height: 115px;
	border-bottom: 1px solid #eee;
}

.bottomButtons{
	bottom:0px;
}

.findField{
	width: 260px;
}
.findAbbr{
	width: 125px;
	margin-left: 15px;
}

.findtype{
	width: 160px;
	margin-left: 15px;
}


.header {
	margin-top: 30px;
	margin-left: 80px;
	color: black;
	font-size: 40px;
	padding-top: 10px;

}

.searches{
	margin-left: 100px;
	margin-top: 15px;
	border: 1px solid #eee;
}

.column{
	float:left;
}

.meals{
	margin-top:70px;
	width: auto;
	height: auto;
	border-left: 1px solid #eee;
}

.textSize {
	font-size: 10px;
}

.limit {
	margin-top: 60px;
	width: 400px;
	text-align: center;
	margin-left: 300px;
	border-radius: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

.error input {
border: 3px solid red;
color: red;
}

ul.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}

@media screen and (min-width:1480px) {
.dishes{
	width:1000px;
	margin-left:25px;
	margin-top:50px;
}

}